<!-- All existing users -->
<h2 class="sub-header">All Users</h2>
<div class="table-responsive" id="user-friends">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>User</th>
				<th>Online</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @all_users.each do |user| %>
				<% if user.id != @current_user.id %>
					<tr>
						<td><%= user.username %></td>
						<td><%= user.is_online %></td>
						<td><%= link_to "Follow", friendships_path(:friend_id => user.id), :method => :post %></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>
<!-- /all user's friend -->