<!-- All existing users -->
<h2 class="sub-header">All Users</h2>
<div class="table-responsive" id="user-friends">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>User</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @all_users.each do |user| %>
				<tr>
					<td><%= user.username %></td>
					<td>
						<% if @following.include? user.username %>
							<p>Pending friend request</p>
						<% elsif %> 
							<p></p>
						<% else %>
							<%= link_to "Follow", friendships_path(:friend_id => user.id), :method => :post %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<!-- /all user's friend -->