/ = form_for @user do |f| 
/   = f.label :username
/   = f.text_field :username

/   = f.label :password_confirmation
/   = f.password_field :password_confirmation

/   = f.label :profile_picture
/   = f.text_field :profile_picture

/   = f.label :password
/   = f.password_field :password

/   = f.submit

%h1 Hi