<h3>Sign Up</h3>

<div class="panel panel-primary">
	<div class="panel-heading" id="signup-organic">
		<h3 class="panel-title">Create a username</h3>
	</div>
	<div class="panel-body" id="#organic" >
		<%= render partial: "organic" %>
	</div>
</div>
<div class="panel panel-primary">
	<div class="panel-heading" id="signup-social">
		<h3 class="panel-title">Sign up with social media</h3>
	</div>
	<div class="panel-body" id="social" >
		<%= render partial: "social" %>
	</div>
</div>

<script>
	$(".panel-body").hide();
	$("#signup-organic").click( function() {
		$("#signup-organic").siblings($(".panel-body")).toggle();
	});
	$("#signup-social").click( function() {
  	$("#social").toggle();
	});
</script>