<div class="inner-container">

  <% if flash[:notice] %>
    <div class="notice">
      <h3 class="page-header"><%= flash[:notice] %></h3>
    </div>
  <% end %>
  <div class="notice" id="hardware-error" role="alert">
  </div>
  <p>
    <%= button_to "Find Places", places_path, :id => "find-places",
        :class => "btn btn-lg btn-success btn-block", :method => :get %>
  </p><p>
  <%= button_to "Find Friends", places_path, :id => "find-friends",
      :class => "btn btn-lg btn-success btn-block", :method => :get %>
  </p>
</div>

<script>
  $(document).ready(function () {
    hardwareDetection();
  });
</script>