<div class="container-fluid">

	<% if flash[:notice] %>
		<div class="notice">
			<h3 class="page-header"><%= flash[:notice] %></h3>
		</div>
	<% end %>
	<div class="notice" id="hardware-error" role="alert">
	</div>
	<p>
		<%= button_to "Find Places", places_path, :id => "find-places",
				:class => "btn btn-lg btn-block btn-danger", :method => :get %>
	</p><p>
	<%= button_to "Find Friends", friends_path, :id => "find-friends",
			:class => "btn btn-lg btn-block btn-danger", :method => :get %>
	</p>

<div id="canvas_map"></div>

</div>

<script>
	$(document).ready(function () {
		hardwareDetection();
		showPlaces();
		<% @places.each do |place| %>
    <%= "add_marker(#{place.latitude}, #{place.longitude}, #{place.address});" %>
    <% end %>
	});
</script>