<!-- User's Followers -->
<div class="container-fluid">
<h2 class="sub-header">Friend Requests</h2>
	<div class="table-responsive" id="user-friends">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Feed</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody id="tbl-incoming-requests">
				<% @incoming_requests.each do |friendship|%>
				<tr>
					<td><%= image_tag(User.find(friendship.user_id).profile_picture, class: "img-circle", :size => "20" ) %></td>
					<td><%= User.find(friendship.user_id).username %> would like to friend you.</td>
					<td><%= button_to("Accept", friendship_path(friendship.id), :id => "btn-accept-request-#{friendship.id}", :class => "friendship-accept-request btn btn-xs btn-primary", :remote => true) %></td>
					<td><%= button_to("Deny-#{friendship.id}", friendship_path(friendship.id), :id => "btn-accept-deny-#{friendship.id}", :class => "friendship-deny-request modal-trigger-btn btn btn-xs btn-primary", :method => "delete", "data-toggle" => "modal", "data-target" => "#denyFriendModal") %></td>
					<!-- <td> --><%#= content_tag(:div, "Deny-#{friendship.id}", :id => "btn-accept-deny-#{friendship.id}", :class => "friendship-deny-request modal-trigger-btn btn btn-xs btn-primary", "data-toggle" => "modal", "data-target" => "#denyFriendModal", "data-id" => "#{friendship.id}") %><!-- </td> -->
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<!-- Modal -->
<!-- <div class="modal" id="denyFriendModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Warning!</h4>
			</div>
			<div class="modal-body">
				Are you sure you want to deny this request? <span class="hidden" id="friendship-id"></span>?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary">Confirm</button>
			</div>
		</div>
	</div>
</div> -->