<% if flash[:notice] %>
	<div class="notice">
		<h3 class="page-header"><%= flash[:notice] %></h3>
	</div>
<% end %>

<!-- User's Followers -->
<h2 class="sub-header">Followers</h2>
<div class="table-responsive" id="user-friends">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Feed</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody id="tbl-incoming-requests">
			<% @incoming_requests.each do |friendship|%>
				<tr>
					<td><%= image_tag(User.find(friendship.user_id).profile_picture, class: "img-circle", :size => "20" ) %></td>
					<td><%= User.find(friendship.user_id).username %> would like to friend you.</td>
					<td><%= button_to("Accept-#{friendship.id}", friendship_path(friendship.id), :id => "btn-accept-request-#{friendship.id}", :class => "btn btn-xs btn-primary") %></td> <!--, :remote => true, "data-type" => :json -->
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<!-- /User's Followers -->