<!-- User's Followers -->
<h2 class="sub-header">Followers</h2>
<div class="table-responsive" id="user-friends">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>User</th>
				<th>Online</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @current_user.inverse_friends.each do |friendship| %>
				<tr>
					<td><%= friendship.username %></td>
					<td><%= friendship.is_online %></td>
					<td><%= link_to "Unfollow", friendship, :method => :delete %></td>
				</tr>
			<% end%>
		</tbody>
	</table>
</div>
<!-- /User's Followers -->