<!-- all user's requested friendship -->
<div class="container-fluid">
	<h2 class="sub-header">Pending Requests</h2>
	<div class="table-responsive" id="user-friends">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>User</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody class="text-left">
				<% @following.each do |friendship| %>
				<% if friendship.approved == false %>
				<tr>
					<td><%= friendship.friend.username %></td>
					<td><%= link_to "Cancel Friend Request", friendship, :method => :delete %></td>
				</tr>
				<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<!-- /all users being followed -->