<!-- all user's friend -->
<div class="container-fluid">
<h2 class="sub-header">Friends</h2>
<div class="table-responsive">
	<table class="table table-striped" id="user-friends">
		<thead>
			<tr>
				<th>User</th>
				<th>Online</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @current_user.friendships.each do |friendship| %>
				<% if friendship.approved == true %>
					<tr>
						<td><%= friendship.friend.username %></td>
						<td><%= friendship.friend.is_online %></td>
						<td><%= link_to "Remove", friendship, :method => :delete %></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>
</div>
<!-- /all user's friend -->