<div class="inner-container">
	<h3 class="page-header">List of All Users</h3>
	<div id="users_list col-md-6">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>User</th>
					<th>Online</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @all_users.each do |user| %>
					<tr>
						<td><%= user.id %></td>
						<td><%= user.username %></td>
						<td><%= user.is_online %></td>
						<td><%= link_to "Follow", friendships_path(user.id), :method => :post %></td>
					</tr>
				<% end %>
				
			</tbody>
		</table> 	
	</div>
</div>
