<form class="navbar-form navbar-left" role="search" method="get" action="/friendships/search">
	<h2>Find Friends</h2>
  <div class="form-group">
    <input type="text" class="form-control" name="user_search" id="user_search" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default">Find User</button>
</form>