<div class="inner-container">
	<h3 class="page-header"><%= @current_user.username %>'s Friends</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>User</th>
				<th>Online</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
<!--  -->
		</tbody>
	</table> 	

	<div>
		<%= render partial: "search", locals: { account: @current_user } %>
	</div>
	<div>
		<%= render partial: "list", locals: { account: @current_user } %>
	</div>
</div>



