<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-8">	
			<h1 class="page-header">Manage Friends</h1>
			<div class="row placeholders">
				<%= render partial: "search" %>
			</div>
			<div class="row placeholders">
				<div class="col-xs-6 col-sm-3 placeholder">
					<!-- <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="200x200" src=""> -->
					<h4>Label</h4>
					<span class="text-muted">Something else</span>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
					<!-- <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="200x200" src=""> -->
					<h4>Label</h4>
					<span class="text-muted">Something else</span>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
					<!-- <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="200x200" src=""> -->
					<h4>Label</h4>
					<span class="text-muted">Something else</span>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
					<!-- <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="200x200" src=""> -->
					<h4>Label</h4>
					<span class="text-muted">Something else</span>
				</div>
			</div>
			<%= render partial: "following" %>
			<%= render partial: "followers" %>
		</div>
	</div>




</div>