<div class="container-fluid">
	<div class="col-sm-6 col-sm-offset-3">
		<h3>Search Results for "<%= params[:search] %>"</h3>
		<% if @search_results.empty? %>
			No results matching your search.
		<% else %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>User</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody id="tbl-incoming-requests">
					<% @search_results.each do |result| %>
					<tr>
						<td><%= result.username %></td>
						<% if @friends_username.include? result.username %>
							<td>Already connected</td>
						<% elsif @following_array.include? result.username %>
							<td>Pending friend request</td>
						<% else %>
							<td><a class="follow" data-method="post" href="/friendships?friend_id=<%=result.id%>" rel="nofollow">Follow</a></td>
						<% end %>
					</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
		<div>
			<%= link_to("Return", friendships_path, class: "btn btn-primary")%>
		</div>
	</div>
</div>