<div id="login" class="">
    <div class="jumbotron-login">
      <h1 class="page-header">Welcome to Bero.</h1>
      <p class="lead">
        <a href="sessions/new" class="btn btn-lg btn-danger">Sign In</a>
        <a href="users/new" class="btn btn-lg btn-danger">Sign Up</a>
      </p>
      <p class="lead">
        Stalk your friends in a more colorful way.
      </p>
    </div>
</div>

<!-- <div class="map-blocker"> -->
  <div id = "map_canvas" class = "big-map hidden-xs"></div>
<!-- </div> -->
<script>
  $(document).ready(function() {
    showPlaces();
  });

</script>