<div class="cover-container">
  <div class="inner-cover">
    <div class="jumbotron">
      <h1 class="page-header">Welcome to Bero.</h1>
      <p class="lead">
        <a href="sessions/new" class="btn btn-lg btn-danger">Sign In</a>
        <a href="users/new" class="btn btn-lg btn-danger">Sign Up</a>
      </p>
      <p>
        Bero means "hot" in Basque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum nam nulla exercitationem, impedit aut, ad sint reprehenderit necessitatibus, ipsam dignissimos odit eveniet debitis itaque vel blanditiis alias suscipit repellat fuga.
      </p>
    </div>
  </div>
</div>