/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}
html{
  height: 100%;
}
body{
  height: 100%;
}
	/*input[type="submit"].btn-block{
		width: 90%;
	}*/
/* .btn{
 	box-sizing:border-box;
 	margin: 0 auto;
 }

 .btn-block{
 	width: 90%;
 }*/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #F5F5F5;
  /*color: #222222;*/
}
 /* ----- List Styles ----- */

ul {
	padding: 0;
}

li {
	list-style: none;
}

/* ----- Nav bar styles ---- */
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-nav {
  float: right;
  font-weight: 300;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ccc;
}

.navbar-inverse .navbar-brand {
  color: #d9534f;
  font-size: 2.5em;
  font-weight:400;
  font-family:'helvetica', sans-serif;
  text-shadow: 0px -1px 0px rgba(140,54,51,0.9);
}

.dropdown-black {
  background-color: #090909;
}

.dropdown-menu > li > a {
  color:#ccc;
  font-weight: 300;
}

.dropdown-menu .divider {
  background-color:#312F2F;
}

#showDistance {
  font-size:3em;
}
/* ----- Buttons and alerts ------ */
.alert {
  margin:20px 0;
}

.btn {
  font-weight: 300;
}

 /* -------Smartphones: Media Queries -------- */

@media only screen and (max-width : 767px) {

  /* ----- Media queries nav bar styles ---- */

  .navbar-nav {
    float:left;
    width:100%;
  }

  .dropdown-black {
    background-color: #090909;
  }
}

.invisible {
  display:none;
}

