#new_place {
  margin: 10px;
}
.small-map{
	width: 100%;
	height: 9em;
}
.big-map{
	min-width: 100%;
	min-height: 100%;
	position: relative;
	z-index: 0;
}
.jumbotron{
	position: absolute;
	z-index: 1;
	opacity: .9;
}