<!DOCTYPE html>
<html>
<head>
  <title>BeroApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <header>
      <h1>Bero - Bearing Ninja</h1>
      <nav>
        
      </nav>
    </header>
    
    <%= yield %>
    
    <div id="container">
      
    </div>
  </div>
</body>
</html>
